version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: bynd_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bynd_news
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: bynd_app
    depends_on:
      - postgres
    env_file:
      - .env
    volumes:
      - .:/app
    command: >
      sh -c "
      python app/main.py &&
      uvicorn app.api.routes:app --host 0.0.0.0 --port 8000
      "
    ports:
      - "8000:8000"

volumes:
  postgres_data:
